#kidsBanner{
    width: 90%;
    margin: 10pt;
    margin-bottom: 1pt;
    display: inline;
    position: relative;
    border-radius: 10px;
    right: 0px;
    color: #e85d5d;
    box-shadow: 0px 0px 7px gray
}
#imgContainer{
    display: inline-block;
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    
}
#imgBox1{
    display: inline-block;
    width: 30%;
    height: 100%;
    background: url(etc/babiesBox.png) no-repeat;
    background-size: 100% 100%;
}
#imgBox1:hover{
    transform: scale(1.05, 1.05);
    background: url(etc/babiesBox2.png) no-repeat;
    background-size: 100% 100%;
}
#imgBox2{
    display: inline-block;
    width: 30%;
    height: 100%;
    background: url(etc/toddlersBox.png) no-repeat;
    background-size: 100% 100%;
}
#imgBox2:hover{
    transform: scale(1.05, 1.05);
    background: url(etc/toddlersBox2.png) no-repeat;
    background-size: 100% 100%;
}
#imgBox3{
    display: inline-block;
    width: 30%;
    height: 100%;
    background: url(etc/schoolersBox.png) no-repeat;
    background-size: 100% 100%;
}
#imgBox3:hover{
    transform: scale(1.05, 1.05);
    background: url(etc/schoolersBox2.png) no-repeat;
    background-size: 100% 100%;
}

#imgBox2{
    width: 30%;
}
#imgBox2:hover{
    transform: scale(1.05, 1.05);
}

#imgBox3{
    width: 30%;
}
#imgBox3:hover{
    transform: scale(1.05, 1.05);
}