
@font-face{
    font-family:"Alata";
    src:url("Alata-Regular.ttf")
}
.headerStyle1{
    font-family: myCursive;
    font-size: 40pt;
    color: #e85d5d;
    word-spacing: 1pt;
}
.HeaderStyle2{
    font-family: myCursive;
    font-size: 40pt;
    color: white;
    word-spacing: 1pt;
}
.subheader{
    font-family: Alata, sans-serif;
    font-weight: bold;
    font-size: 14pt;
    color: black;
    word-spacing: 1pt;
    padding-bottom: 5pt;
    margin-top:0px;
}
#meetMonicaBody{
    color: gray;
    font-family: Alata, sans-serif;
    padding-left: 40pt;
    padding-right: 40pt;
    font-size: 14pt;
}
#testimonialBody{
    text-align: center;
    color: white;
}
#joinUsBox{
    display: inline;
    padding: 7px;
    border: 1px solid white;
    font-family: sans-serif;
    color: white;
}
#submit{
    font-size: 12pt;
    margin-top: 10pt;
    padding-left: 15pt;
    padding-right: 15pt;
    margin-bottom: 20pt;
}
#tap{
    color: gray;
    font-size: 10pt;
    margin-top: 20pt;
}